*.ipa
*.zip
*.class
*.jar
LockIPCC_binary
LockIPCC_patched_final
extracted/
ghidra_patch/
temp_info.plist
run_ghidra.bat
run_headless.bat
launch_patched.bat
LaunchSupport.java
LaunchSupport_orig.jar
parse_fat.ps1
IPCCFileTool/build/
DerivedData/
.DS_Store
